@use 'variables.scss' as variables;

@mixin big-desktop() {
  @media screen and (min-width: variables.$screen-big-desktop) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: variables.$screen-desktop) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (min-width: variables.$screen-tablet) {
    @content;
  }
}

@mixin mobile() {
  @media screen and (max-width: variables.$screen-mobile) {
    @content;
  }
}

@mixin primengsize1() {
  @media screen and (min-width: variables.$prime-mixins1) {
    @content;
  }
}

@mixin primengsize2() {
  @media screen and (min-width: variables.$prime-mixins2) {
    @content;
  }
}

@mixin focused() {
  outline: 0 none;
  outline-offset: 0;
  transition: box-shadow .2s;
  box-shadow: var(--focus-ring);
}

@mixin focused-inset() {
  outline: 0 none;
  outline-offset: 0;
  transition: box-shadow .2s;
  box-shadow: inset var(--focus-ring);
}
